.custom-carousel .carousel-control {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out; /* Adjusted duration and easing */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-out; /* Adjusted duration and easing */
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideRight 1s ease-out; /* Adjusted duration and easing */
}

.animate-slide-left {
  animation: slideLeft 1s ease-out; /* Adjusted duration and easing */
}
